<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Here we tell Spring that part of the beans configuration is annotation driven.
         In our example, UselessProcess is the only bean to be annotation driven.
         The component-scan instruction tells the program where to look for annotation defined beans. -->
    <context:annotation-config />
    <context:component-scan base-package="com.simonepezzano.lessons.springfundamentals.spring1.processes"/>

    <!-- The iNotifier contract is implemented by a chosen class.
         The object will be instantiated once, and reused every time it's needed as it's a singleton by default. -->
    <bean id="iNotifier" class="com.simonepezzano.lessons.springfundamentals.spring1.notifiers.impl.ConsoleNotifier"/>
</beans>